input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    width: 100%;
    cursor: pointer;
}
input[type="radio"]:checked + label {
    background-color: #729fcf;
    color: #ffffff;
}